
<section id="home">
<div  class="container mt-5  pt-5 pt-md-0 ">
<div class="row"><div class="col-lg-6 col-sm-12">


<div class="text   mt-sm- p-sm-4 pt-sm-5" data-aos="zoom-in" data-aos-duration="1000">
    

    <h1 class="">Front-end
        Developer <span>.</span></h1>
  <h4 class="my-3 d-inline-block border-bottom ">{{ typedText }}</h4>
    <p class="my-2">A Front-end focused Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product</p>
 
    <button (click)="openConfirmBox()" class="profilebutton  btn  mt-3">HIRE ME <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
      </svg></button></div>
    </div>
      <div  class="col-lg-4 col-sm-12 text-center mt-3 pt-3 pt-md-0 ">
        <img class="profileimg" data-aos="zoom-in" data-aos-duration="3000" src="assets/images/bm.png" alt="">
    
    
    </div>
</div>
</div></section>
 <!-- Page Content-->
  <section class="mt-5 pt-5" id="profile">
   <main >
  <div class="container px-md-5 my-md-5 ">
    <div class="text-center  mb-5">
        <h1 class="display-5 fw-bolder "><span class="text-gradient d-inline title">What I Do ?</span></h1>
    </div>
    <div class="row  justify-content-center">
        <div class="  col-lg-11 col-xl-9 col-xxl-8">

  <!-- Education Section-->
  <section>
    <h2 class="mb-4 definitiontext"></h2>
    <!-- Education Card 1-->
    <div class="blurdiv shadow  rounded-4 mb-5 border border-0"  data-aos="fade-up"  data-aos-duration="1000">
        <div class="blurdiv p-5">
            <div class="row align-items-center ">
             
                <div class="col-lg-8 "><div class="" ><p>As a Frontend Web Developer, I specialize in Angular and React, transforming designs from Adobe XD and Figma into responsive and high-quality websites and web applications. My focus is on building engaging user interfaces that contribute to the overall success of the product. Explore the Projects section to see some of my work.</p>
                   </div></div>
                   <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="d-none d-md-block p-4 rounded-4">
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="#fff" class="bi bi-code-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education Card 2-->
   
</section>

          
          
           
        </div>
    </div>
</div>
</main>





 <!-- Skills Section-->
 <section  class="d-flex align-items-center justify-content-center">
     <!-- Skillset Card-->
     <div class="  container skillsdiv shadow border-0 rounded-4 mb-5"  data-aos="fade-up"  data-aos-duration="1000">
         <div class="row card-body  p-5">
             <!-- Professional skills list-->
             <div class="col  border-start border-secondary-subtle mb-0">
                <div class="d-flex align-items-center mb-4">
               
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline  text-white">Skills :</span></h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4 d-flex flex-direction-column">
                    <div class="col m-1 "><div class="d-flex align-items-center border border-secondary-subtle  rounded-4 p-2 h-auto w-auto">Html</div></div>
                    <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto ">Css</div></div>
                    <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto  ">Js</div></div>
                    <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto ">Bootstrap</div></div>
                    <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto  ">Tailwind</div></div>
                    <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto ">Angular</div></div>  
                    <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto ">React</div></div>
                </div>
               
            </div>
             <!-- Languages list-->
             <div class="col border-start border-secondary-subtle mb-0">
                 <div class="d-flex align-items-center  mb-4">

                     <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline  text-white">Languages :</span></h3>
                 </div>
                 <div class="row row-cols-1 row-cols-md-3 mb-4 ">
                     <div class="col m-1 "><div class="d-flex align-items-center border border-secondary-subtle  rounded-4 p-2 h-auto w-auto">Arabic</div></div>
                     <div class="col m-1 "><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto  ">English</div></div>
                     <div class="col m-1"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-2 h-auto ">French</div></div>
                 </div>
                
             </div>
             <div class="mb-0">
                 <div class="d-flex align-items-center mb-4">
                  
                     <h3 class="fw-bolder mt-4"><span class="text-gradient d-inline text-white">Online Certification :</span></h3>
                 </div>
                 <div class="row row-cols-1 row-cols-md-3 mb-4">
                     <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center  border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                        <a href="https://www.freecodecamp.org/certification/aymenbenmassoud/responsive-web-design" >
                         <img  class="img-fluid" src="assets/images/c1.png" alt="">
                         <div class="small text-white">responsive web design </div>
                         <div class="small  text-white">(freecodecamp)</div></a>
                     </div></div></div>
                    
                     <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                      <a href="https://www.sololearn.com/certificates/CT-7QOVTDAZ">
                         <img class="img-fluid" src="assets/images/c2.jpg" alt="">
                         <div class="small  text-white">css certification</div>
                         <div class="small  text-white">(sololearn)</div></a>
                     </div></div></div>


                     <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center  border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                       <a href="https://www.sololearn.com/certificates/CT-WVU0SKV2">
                           
                         <img class="img-fluid" src="assets/images/c3.jpg" alt="">
                         <div class="small text-white">html certification</div>
                         <div class="small  text-white">(sololearn)</div></a>
                     </div></div></div>
                     <div class="col mb-4 mb-md-0 mt-2"><div class="d-flex align-items-center  border border-secondary-subtle rounded-4 p-3 h-100"> <div class=" p-4 rounded-4">
                       <a href="https://simpli-web.app.link/e/SkKHRx58rEb">
                           
                         <img class="img-fluid" src="assets/images/c4.png" alt="">
                         <div class="small  text-white text-white">Angular Basics certification</div>
                         <div class="small text-light">(simplilearn)</div></a>
                     </div></div></div>
                 </div>
                
             </div>
         </div>
     </div>
 </section>
</section>

<!-- Project section -->


    <section  id="project"  class="container px-md-5 ">
        <div class="text-center">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline  title">What I Did ?</span></h1>
        </div>
        <div class="row gx-5 justify-content-center mt-5">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
              
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5 "   data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-0 ">
                        <div class="d-sm-flex align-items-center ">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p class="">  This Angular-Application  e-commerce project is designed to provide a comprehensive platform for both administrators and users. It features two distinct sections: an "Admin Panel" and a "User Storefront," offering a seamless and user-friendly shopping experience.</p>
                                <div><a href="https://github.com/aymen-ben-massoud/bikesecommerce"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/bikesecommerce/" class="btn btn-outline-light mx-2"  >  live page</a></div>
                                <!-- <button class="btn btn-outline-light"  >href="https://aymen-ben-massoud.github.io/bikesecommerce/"git link</button> -->
                            </div>
                            <img  class="img-fluid rounded-3" src="assets/images/p1.png" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5" data-aos="fade-up"
                data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p >The "Resto Angular Application" is a modern and feature-rich digital solution designed to enhance the dining experience for both restaurant-goers and restaurant owners. This Angular-based platform offers a seamless and user-friendly interface, catering to the needs of diners and restaurant staff.</p>
                                <div><a href="https://github.com/aymen-ben-massoud/resto-api"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/resto-api/#" class="btn btn-outline-light mx-2"  >  live page</a></div>
                       
                              
                            </div>
                            <img class="img-fluid rounded-3" src="assets/images/p5.png" alt="..." />
                        </div>
                    </div>
                </div>
              
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5"  data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p >This Angular-Application  e-commerce project is designed to provide a comprehensive platform for both administrators and users. It features two distinct sections: an "Admin Panel" and a "User Storefront," offering a seamless and user-friendly shopping experience.</p>
                                <div><a href="https://github.com/aymen-ben-massoud/firebase-ecommerce"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/firebase-ecommerce/product" class="btn btn-outline-light mx-2"  >  live page</a></div>
                   
                            </div>
                            <img class="img-fluid  rounded-3" src="assets/images/p2.png" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0  mb-5"  data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                 <h3 >Project Details :</h3>
                                <p >a beautifully designed Angular application that offers an exceptional user experience. With an intuitive interface and sleek aesthetics, our app ensures a seamless and enjoyable journey for users</p>
                         
                                <div><a href="https://github.com/aymen-ben-massoud/easybank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/easybank/#" class="btn btn-outline-light mx-2"  >  live page</a></div>
                             
                            </div>
                            <img class="img-fluid rounded-3" src="assets/images/p4.png" alt="..." />
                        </div>
                    </div>
                </div>
               
                <div class="blurdiv overflow-hidden shadow rounded-4 border-0 mb-5 "  data-aos="fade-up"  data-aos-duration="1000">
                    <div class="card-body p-0">
                        <div class="d-sm-flex align-items-center">
                            <div class="p-sm-5 p-4">
                                <h3 >Project Details :</h3>
                                <p > Our application combines the art of aesthetics and the science of usability to create a platform that is both visually stunning and incredibly intuitive. From the moment you start using it, you'll appreciate the seamless navigation, modern aesthetics, and attention to detail.</p>
                       
                                <div><a  href="https://github.com/aymen-ben-massoud/angular-1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                  </svg> </a>
                                    <a  href="https://aymen-ben-massoud.github.io/angular-1/" class="btn btn-outline-light mx-2"  >  live page</a></div>
                             
                            </div>
                            <img class="img-fluid rounded-3" src="assets/images/p3.png" alt="..." />
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </section>




<!-- contact section -->


    <section id="contact" class="container px-md-5 my-5 mt-5 pt-5">
       <div class="text-center mt-5 mb-5">
        <h1 class="display-5 fw-bolder "><span class="text-gradient d-inline  title">Get in touch</span></h1>

       </div>
       <div class="row gx-5 justify-content-center">
           <div class="col-lg-11 col-xl-9 col-xxl-8">
   
     <!-- Education Section-->
     <div>
      
       <!-- Education Card 1-->
       <div class="blurdiv shadow border-0 rounded-4 mb-5"  data-aos="fade-up" data-aos-duration="1000">
           <div class="card-body p-5">
               <div class="row align-items-center gx-5 ">
               
                   <div class="col-lg-8 mx-auto"> <h3 class="  mb-4   ">let's work toghether</h3>
                    <div class="">  I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.
                      </div></div>
               </div>
           </div>
      
          </div>
      </div>

      <div class="d-flex align-items-baseline justify-content-center flex-wrap">
        
        
        <div class=" contact-icons d-flex align-items-baseline justify-content-center mx-auto ">      <p><svg xmlns="http://www.w3.org/2000/svg" fill="#dfdfe0" width="30" height="30"  class="bi bi-envelope-check" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
          <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
        </svg></p> <p class="m-3  ">{{gmail}}</p>

      </div>      
<div class="d-flex align-items-baseline justify-content-center mx-auto"> <p>

<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#dfdfe0" class="bi bi-github" viewBox="0 0 16 16">
<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg>
</p> <p class="m-3 ">aymen-ben-massoud  </p>
    </div>
   
    </div>
          </div>  
    
     
    </div>
   </section>
  
 

<section class="mt-5 pt-5">
    <h1></h1>
</section>





<section  *ngIf="isVisible" id="scrollTopBtn" (click)="scrollToTop()"  class="arrow">
    <svg  width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17 15L12 10L7 15" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

</section>